<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -EasyHousingSolutions_WebUI </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyHousingSolutions_WebUI.styles.css" asp-append-version="true" />
    
    

    
</head>
<body>
    <header >
        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">𝐄𝐚𝐬𝐲 𝐇𝐨𝐮𝐬𝐢𝐧𝐠 𝐒𝐨𝐥𝐮𝐭𝐢𝐨𝐧</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                        <li class="nav-item">
                            <a class="nav-link  text-light" asp-area="" asp-controller="Home" asp-action="Index">𝐇𝐨𝐦𝐞</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">𝐏𝐫𝐢𝐯𝐚𝐜𝐲</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="SignUp">𝐑𝐞𝐠𝐢𝐬𝐭𝐞𝐫</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Login"> 𝐀𝐝𝐦𝐢𝐧 𝐋𝐨𝐠𝐈𝐧</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AboutUs">𝐀𝐛𝐨𝐮𝐭𝐔𝐒</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="EhsUsers" asp-action="Index">User</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Buyers" asp-action="Login">User</a>
                        </li>*@
                        </ul>
                         
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AdminHome" asp-action="Admin">Admin</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Buyers" asp-action="Index">𝗕𝘂𝘆𝗲𝗿𝘀</a>
                      
                           </li>*@
                    </div>
                       
            </div>
        </nav>
       
    </header>
     

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2017 - EasyHousingSolutions_WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">𝐏𝐫𝐢𝐯𝐚𝐜𝐲</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
@*<li class="item"><a class="link text-dark" asp-area="" asp-controller="EhsImages" asp-action="Index"><h3>Images</h3></a></li>*@
<style>
    

  
</style>
</html>
