
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutUs</h1>
<h5> Easy Housing Solution Ltd launched in 2017, is an India – based startup company 
under the New India – Make in India initiative.   </h5>
<h5>The EHS project has been initiated by 
Housing Solution to help customers.</h5>
<h5
    > This will be achieved By </h5>

<h6>1. Reducing paper work.</h6>

<h6>2. Password secured Asset Information.</h6>

<h6>3. All property details information & all processing is Free of cost.</h6>
<style>

  
body {
  /* background-image: url('');*/
   background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP._qk-vaXiaGCO2Z4Fk9yBdgHaEK%26pid%3DApi&f=1');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}



</style>
<hr />
<p>
	<i><b>A Property Management Team You Can Count On<br />
Our office consists of a friendly, professional management team committed to providing our clients with the best housing experience,<br />
Our maintenance crew offers a full range of services, including a 24-hour emergency number. </b></i>
</p>
<hr />
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h2><b>Our Team</b></h2>
<hr />
<ul>
<li><b>Rohini(Role:Admin)</b></li>
<li><b>Kavitha(Role:Sellers & Images)</b></li>
<li><b>Sai Mutyam(Role:Cart)</b></li>
<li><b>Hudaiba Amrin(Role:Buyer</b>)</li>
<li><b>Nandhini(Role:State)</b></li>
<li><b>Vinushree(Role:property)</b></li>
<li><b>Ameena Sherin(Role:City)</b></li>
 
</ul>
<hr />

	  <section class="section3" id="contact">
	  	<hr />
	  	<h2>Contact Us</h2>
	  	<div class="loc">
	  	<i class="fas fa-map-marker-alt fa-2x"></i>
	  	<h4>Address</h4>
	  	<p>White Field Apip Zone</p>
	  	<p>Banglore</p>
	  	<p>Karnataka</p>
	  </div>
	  <hr />
	  	<div class="phn">
	  	<i class="fas fa-phone fa-2x"></i>
	  	<h4>Phone</h4>
	  	<p>+91-9705312225</p>
	  	<p>+91-9394312225</p>
	  </div>
	  <hr />
	  <div class="mail">
	  	<i class="fas fa-envelope fa-2x"></i>
	  	<h4>Email</h4>
	  	<p>EasyBuyingSolution@gmail.com</p>
	  	<p>Admin_EHS@gmail.com</p>
	  </div>
	  </section>


