@{
    ViewData["Title"] = "Our Terms & Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
body {
  background-image: url('https://media.istockphoto.com/photos/wood-empty-surface-and-abstract-blur-meeting-room-with-conference-picture-id1294901077?b=1&k=20&m=1294901077&s=170667a&w=0&h=dOo3HSTuvyOZYvminvjZ81yxKzdNliJ-bfUj7Ei-UCM=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>

<p>All The Copy Rights reserved to Easy housing Solutions Only.</p>

<p>
    <b>
       <u>We Ensure That None Of Your Personal Data Is Shared Or Exhibited With Others With Out Your or Our Admin Permission,</u>
    </b>
</p>
<p>
    <b>
        For More Information And Queries or Help Please Visit <u>*About Us*</u> Tab and Reach Us.
    </b>
</p>
<hr/>
<p>
    <b>
        For All Privacy Details Please Click Link Given Below
    </b>
</p>

<h5>
    <b>
        <i>
            THANK YOU
        </i>
    </b>
</h5>
