
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>

 @*<img src="https://www.rismedia.com/wp-content/uploads/2021/10/Power_buyers_surge_provides_sellers_more_options_664773108-1024x681.jpg" width="400" height="200">*@ <p class="aligncenter">
   @* <img src="https://www.rismedia.com/wp-content/uploads/2021/10/Power_buyers_surge_provides_sellers_more_options_664773108-1024x681.jpg" width="400" height="200" />" alt="centered image" />
</p>  *@
<p style="text-align:center;"><img src="https://www.rismedia.com/wp-content/uploads/2021/10/Power_buyers_surge_provides_sellers_more_options_664773108-1024x681.jpg" alt="Logo"></p>
 
<style>
body {
  background-image: url('https://t3.ftcdn.net/jpg/01/57/34/62/360_F_157346244_A6Oml9kXsQdK3WaVVg91UnzheU0YeFpe.jpg');height:fit-content;width:fit-content;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>


